@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto+Slab:wght@100..900&display=swap');

* { 
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

a {
    color: #0186c4;
    text-decoration: none;
    transition: color 0.6s ease;
}

a:hover {
    color: #052658;
}

img {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

header {
    float: left;
    background-color: rgba(255, 255, 255, 0.582);
    width: 99.4%;
    padding: 0.3%;
    color: #052658;
    border-bottom: 5px solid #59595a;
}

header > div#logo > a > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 15%;
}

header > div#logo1 > a > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 15%;
}

header > div#logo > a > span {
    font-size: 1.5em;
    margin-left: 20px;
    font-family: "Dela Gothic One", sans-serif;
}

header > div#logo1 > a > span {
    font-size: 1.5em;
    margin-left: 20px;
    font-family: "Dela Gothic One", sans-serif;
}

header > div#menu > a > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 15%;
}

@media (min-width: 1325px) {
    #logo {
        float: left;
        width: 30%;
    }
    
    #logo1 {
        visibility: hidden;
        display: none;
    }

    #about {
        float: left;
        width: 37%;
    }
    
    #menu {
        visibility: hidden;
        display: none;
    }

    #theme {
        float: right;
        width: 30%;
    }
}

@media (max-width: 1324px) and (min-width: 950px) {
    #logo {
        float: left;
        width: 44%;
    }
    
    #logo1 {
        visibility: hidden;
        display: none;
    }
        
    #about {
        float: left;
        width: 37%;
    }
    
    #menu {
        visibility: hidden;
        display: none;
    }

    #theme {
        float: right;
        width: 30%;
    }


}

@media (max-width: 949px) and (min-width: 525px) {
    #logo {
        visibility: hidden;
        display: none;
    }
    
    #logo1 {
        float: left;
        width: 50%;
    }
        
    #about {
        float: left;
        width: 37%;
    }
    
    #menu {
        visibility: hidden;
        display: none;
    }

    #theme {
        float: right;
        width: 30%;
    }


}


@media (max-width: 524px) {
    #logo {
        visibility: hidden;
        display: none;
    }
    
    #logo1 {
        float: left;
        width: 50%;
    }

    #about {
        visibility: hidden;
        display: none;
    }

    #menu {
        float: right;
        width: 30%;
    }
    
    #theme {
        float: right;
        width: 50%;
    }
}

#theme>a {
    color: white;
}

#theme>a>div.btn {
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1em;
    background-color: #0186c4;
    text-shadow: #454545 0 0 2px;
    border-bottom: 4px solid #052658;
}

#about {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    padding-top: 10px;
}


#about > a {
    margin: 0 5%;
}

wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    flex: 1 0 auto;
}

footer {
    float: left;
    background-color: rgba(0, 0, 0, 0.432);
    width: 99.4%;
    padding: 0.3%;
    color: #ffffff;
    border-bottom: 5px solid #59595a;
}

#sitename {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    padding-top: 200px;
}

#sitename>h3 {
    margin: 50px auto 500px;
    margin-top: 50px;
    max-width: 650px; 
    width: 100%;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}
